<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.toomanycooksapp.mathapp" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MathActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_activity_math"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".AddGameActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_activity_add_game"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".FlashCardActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_activity_flash_card"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".QuizQuestionActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_activity_quiz_question"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".QuizResultsActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_activity_quiz_results"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".lessons.LessonsActivity"
            android:label="@string/title_activity_lessons" >
        </activity>
        <activity
            android:name=".SubtractionGameActivity"
            android:label="@string/title_activity_subtraction_game" >
        </activity>
        <activity
            android:name=".MultiplicationGameActivity"
            android:label="MultiplicationGameActivity">
         </activity>
    </application>

</manifest>
